.flex div{
    width: fit-content;
    height: fit-content;
    border: 1px black solid;
    padding: 1%;
    margin: 1%;
}

body.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

