<style>
  .suvs{
    border-radius: 2%;
    background-color: hsl(184, 100%, 22%);
    width: 307px;
    height: 500px;
  }

  .text{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px; 
   }


</style>

<section> 
  <div class="suvs">
    <h2><strong>SUVs</strong></h2>
  
    <div class="text" style="text-align:left">
      <p>
        Take an SUV for its spacious interior, power, and versatility. Perfect for your next family vacation and off-road adventures.
      </p>
    </div>

    <button id="suvs-btn" class="button">Learn More</button>
  </div>
</section>




