<style>
  .sedans{
    border-radius: 2%;
    background-color: hsl(31, 77%, 52%);
    width: 307px;
    height: 500px;
  }
  
  .text{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px; 
   }
</style>

<section>
  <div class="sedans">  
    <h2><strong>Sedans</strong></h2>
  
    <div class="text">
      <p style="text-align:left">
        Choose a sedan for its affordability and excellent fuel economy. Ideal for cruising in the city or on your next road trip.
      </p>
    </div>  

      <button id="sedans-btn" class="button">Learn More</button>
  </div>
</section>

