<div class="row">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="/home">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/destinations">DESTINATIONS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/crew">CREW</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/technology">TECHNOLOGY</a>
    </li>
  </ul>
</div>


<!-- <nav>
  <a routerLink="/home"> HOME </a>
  <a routerLink="/destinations"> DESTINATIONS </a>
  <a routerLink="/crew"> CREW </a>
  <a routerLink="/technology"> TECHNOLOGY </a>
</nav> -->




<router-outlet></router-outlet>
<!-- <app-home></app-home>
<app-destinations></app-destinations>
<app-crew></app-crew>
<app-technology></app-technology> -->
