<!--bootstrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

<!--Navigation bar-->
<div id=div1 class="nav">
  <h3>scoot</h3> 
  <p> About Location Career </p> 
  <button id="signUp">Get Scootin</button>
</div>

<router-outlet></router-outlet>
<!-- <app-about></app-about>
<app-careers></app-careers>
<app-index></app-index>
<app-locations></app-locations> -->

<!--footer-->
<footer class="footer">
  <div id="foot1">
    <p>
      Sign up and <br>Scoot off today
    </p>
  </div>
  
  <div id="foot2">  
    <h3>scoot</h3> 
    <p>About Location Career</p> 
  </div>
</footer>